# Environment & Secrets
.env
tiktok_cookies.json





# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Project Specific
temp/
output/
assets/
*.log
debug_*.png
debug_*.html
debug_*.mp4

# OS
.DS_Store
Thumbs.db
